<div style="text-align:center; margin-top: 100px;">
  <h2>🔐 Login com Keycloak</h2>
  <div *ngIf="!loggedIn">
    <form (submit)="login($event)">
      <button type="submit">Entrar</button>
    </form>
  </div>
  <div *ngIf="loggedIn">
    <p>Bem-vindo, {{ username }}!</p>
    <button (click)="logout()">Sair</button>
    <button (click)="callBackend()">Chamar Backend Autenticado</button>

    <div *ngIf="userData">
      <h3>Dados do usuário:</h3>
      <p><strong>Username:</strong> {{ userData.username }}</p>
      <p><strong>Nome completo:</strong> {{ userData.fullName }}</p>
      <p><strong>Email:</strong> {{ userData.email }}</p>
      <p><strong>Avatar:</strong> <img *ngIf="userData.avatarUrl" [src]="userData.avatarUrl" width="40"></p>
      <p><strong>Roles:</strong> {{ userData.roles }}</p>
      <p><strong>Criado em:</strong> {{ userData.createdAt }}</p>
      <p><strong>Último login:</strong> {{ userData.lastLogin }}</p>
    </div>
  </div>
</div>